body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.sec-1 {
    background-color: rgb(224, 106, 21);
}

.sec-2 {
    background-color: rgb(92, 124, 184);
}

.sec-3 {
    background-color: rgb(10, 179, 10);
}

.sec-4 {
    background-color: rgb(209, 64, 202);
}

